.logo {
    width: 300px;
}

.container{
    background-image: url("../img/main-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.display {
    position: absolute;
    width: 90%;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: .75rem .25rem;
}

.input-field {
    background-color: var(--display-color);
    padding: .75rem .5rem;
    border-radius: 25px;
}

form {
    display: flex;
    justify-content: space-around;
}

.input {
    border: none;
    padding: .5rem 0 .5rem 1.25rem;
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
}

.input::placeholder {
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--white);
    font-size: 1.125rem;
    padding-left: 1rem;
    text-shadow: 1.75px 1.5px 2px var(--dark-blue)
}

.input-error::placeholder {
    color: var(--red);
}

.search {
    border: .125rem solid var(--white);
    border-radius: 20px;
    background-color: transparent;
    padding: .5rem .85rem;
    color: var(--white);
    font-family: var(--main-font);
    font-weight: 400;
    transition: all .75s;
    text-transform: uppercase;
    text-shadow: 1.75px 1.5px 2px var(--dark-blue)
}

.search:hover {
    border: .125rem solid var(--red);
    color: var(--yellow);
    font-size: .95rem;
}

.main-field{
    margin-left: 1.5em;
}

.text {
    font-weight: 500;
    text-shadow: 3px 1.5px 2px var(--dark-blue);
}

.time {
    font-weight: 700;
    font-size: 2rem;
    margin: .25rem 0;
    text-shadow: 3px 1.5px 3px var(--black);
}

.more-info {
    color: var(--dark-blue);
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
    padding: 0 .5rem;
    text-shadow: 1.25px 1.25px 3px var(--display-color);
}

.new-search {
    font-family: var(--main-font);
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
    text-shadow: var(--yellow) 1px 0 10px;
}

.new-search:hover {
    color: var(--red);
    font-size: 1.35rem;
}

@media screen and (min-width: 768px) {
    .display {
        top: 40%;
        width: 55%;
    }

    .text {
        font-size: 1.35rem;
    }

    .time {
        font-size: 2.5rem;
    }

    .more-info {
        font-size: 1.25rem;
    }

    .new-search {
        margin-top: 1rem;
        font-size: 1.45rem;
    }

    .new-search:hover {
        font-size: 1.55rem;
    }
}

@media screen and (min-width: 1024px) {
    .input {
        font-size: 1.5rem;
    }

    .input::placeholder {
        font-size: 1.5rem;
    }

    .search {
        font-size: 1.125rem;
    }

    .text {
        font-size: 2rem;
    }

    .time {
        font-size: 3.75rem;
        margin: .65rem 0;
    }

    .more-info {
        margin-top: 2.5rem;
        font-size: 1.75rem;
    }

    .new-search {
        margin-top: 1.25rem;
        font-size: 1.75rem;
    }

    .new-search:hover {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 1440px) {
    .input {
        font-size: 2.125rem;
    }

    .input::placeholder {
        font-size: 2.125rem;
    }

    .search {
        font-size: 1.5rem;
    }

    .display {
        width: 45%;
    }

    .text {
        font-size: 2.25rem;
    }

    .time {
        font-size: 4.25rem;
    }

    .more-info {
        font-size: 2rem;
    }

    .new-search {
        font-size: 2.25rem;
    }

    .new-search:hover {
        font-size: 2.4rem;
    }
}