.logo {
    width: 300px;
}

.container{
    background-image: url("../img/main-bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 80vh;
    position: relative;
}

.display {
    position: absolute;
    width: 85%;
    border-radius: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.input-field {
    display: flex;
    background-color: var(--display-color);
    padding: .75rem .5rem;
    border-radius: 20px;
}

.input {
    border: none;
    /* border-bottom: .12rem solid var(--white); */
    padding: .5rem;
    background-color: transparent;
    color: var(--white);
    font-size: 1rem;
}

.input::placeholder {
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--white);
    font-size: 1.125rem;
}

.search {
    border: .125rem solid var(--white);
    border-radius: 20px;
    background-color: transparent;
    padding: .5rem .75rem;
    color: var(--white);
}

.main-field{
    margin-top: .5em;
}

.time {
    font-weight: 700;
    font-size: 1.75rem;
}

.new-search {
    font-family: var(--main-font);
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 400;
}

.new-search:hover {
    color: var(--red);
}